<form (ngSubmit)="onSubmit()" #userForm="ngForm">
  <div class="form-group">
    <label for="content">Story:</label>
    <input type="text" [(ngModel)]="story.content"
           class="form-control"
           id="content"
           name="name"
           placeholder="Write here what happened"
           required #name="ngModel">
    <br>
    <label for="tags">Tags:</label>
    <input type="text" [(ngModel)]="tagsFromForm"
           class="form-control"
           id="tags"
           name="name"
           placeholder="Write here the tags separated by comas"
           required #name="ngModel">
  </div>
  <button type="submit" [disabled]="!userForm.form.valid"
          class="btn btn-info">Submit</button>
</form>
